@font-face {
    font-family: e-Ukraine;
    src:url("e-Ukraine/e-Ukraine-Regular.otf");
}
@font-face {
    font-family: e-Ukraine-Light;
    src:url("e-Ukraine/e-Ukraine-Light.otf");
}
@font-face {
    font-family: e-Ukraine-UltraLight;
    src:url("e-Ukraine/e-Ukraine-UltraLight.otf");
}

@font-face {
    font-family: e-Ukraine-Medium;
    src:url("e-Ukraine/e-Ukraine-Medium.otf");
}
body {
    margin: 0;
    overflow: hidden;
    font-family: e-Ukraine;
}
meta[name="apple-mobile-web-app-status-bar-style"] {
    content: default;
}
@keyframes rotate {
    from {
        rotate: 0deg;
        scale: 7;
    }

    50% {
        scale: 10;
    }

    to {
        rotate: 360deg;
        scale: 7;
    }
}
.effects {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
#background {
    z-index: 0;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    translate: -50% -50%;
    background: linear-gradient(to right, rgb(223, 255, 127), rgb(112, 202, 216), rgb(216, 139, 255));
    animation: rotate 20s infinite;
    opacity: 0.8;
}

#blur {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(12vmax);
    background-color: rgba(38, 38, 38, 0.8);
}
.check-docs {
    margin-top: 10vh;
    z-index: 3;
    position: absolute;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    width: 100vw;
    font: e-Ukraine-UltraLight;
    font-size: 16px;
}
.close-check-doc {
    top: 3vh;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.close-check-doc img {
    height: 48px;
}
.cards {
    z-index: 2;
    position: absolute;
    display: flex;
    place-items: center;
    height: 100vh;
    perspective: 1000px;
    width: 100vw;
    transition: transform 0.5s ease;
}
.card-wrapper {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    perspective: 1000px;
    user-select: none;
    touch-action: pan-y; 
}
.document {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    height: 60%;
    width: 80%;
    max-width: 350px;
    max-height: 540px;
    transform-style: preserve-3d;
    position: relative; /* Add this line */
}

.document-inside{
    border-radius: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}
.document-inside {
    background: linear-gradient(to bottom, rgb(169, 225, 234), rgb(219, 244, 255));
}
.document__wrapper {
    margin: 5%;
}
.document__wrapper h2 {
    font-size: 20px;
    font-family: e-Ukraine-Light;
}
.document__wrapper.doc-interpass h2 {
    font-size: 21px;
}
.info__wrapper {
    display: flex;
    height: 22vh;
}
.picture {
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;

}
.picture img {
    width: 101%;
    height: 101%;
}
.info {
    margin-left: 5%;
    /* height: 50%; */
    width: 45%;
}
.info-element {
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
}
.info-element span {
    user-select: none;
    text-decoration: none;
    font-family: e-Ukraine-Light;
    font-size: 12px;
    margin-bottom: 5%;
}
.signature {
    align-items: center;
    /* height: 40%; */
    width: 100%;
}
.signature img {
    height: 100%;
    width: 40%;
}

.running-string {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8%;
    width: 100%;
    background: linear-gradient(to right, rgb(167, 237, 151), rgb(141, 208, 208));
    position: absolute; /* Add this line */
    bottom: 112px; /* Add this line */
}
.running-string.tax {
    bottom: calc(20% - 8px); /* Add this line */
}
@keyframes run_right-to-left {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-141px);
    }
}
.running-string p {
    flex: 0 0 auto;
    margin-left: 5px; 
    box-sizing: border-box;
    font-size: 12px;
}
.running-string p.isRunning {
    animation: run_right-to-left linear 5s infinite;
}
.running-string p:not(.isRunning) {
    animation: paused;
    transform: translateX(0);
}
.full-name {
    height: 112px;
    margin: 5%;
    position: absolute; /* Change this line to absolute */
    bottom: 0; /* Add this line */
}
.full-name p {
    height: 8px;
    font-size: 22px;
}
.tax-id {
    height: 50px;
    margin: 10%;
    margin-left: 5%;
    position: absolute; /* Change this line to absolute */
    bottom: 0; /* Add this line */
}
.tax-id p {
    font-size: 24px;
}
.tax-name {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}
.tax-name span {
    user-select: none;
    text-decoration: none;
    font-family: e-Ukraine-Light;
    font-size: 14px;
}
.hidden {
    display: none;
}